In [9]:
import pandas as pd

load1 = pd.read_csv("targets.csv")

load2 = pd.read_csv("city_list.csv")

load1.head()
load2.head()

      CITY                              HASH
0    Tokyo  f22e00d274e603617552f1372c8169b2
1  Jakarta  b966f15c178b00c70e5058441f772122
2    Delhi  971f87883cf2a0ac7787255fd3186ef6
3   Mumbai  2ccf869561a1ad5976bec919eca17c61
4   Manila  fe4260908370c4a5f89fccb8a51355f0